{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ job.title }} {% endblock title %}

{% block content %}
    <h1 class="display-3 "> Job offer {{ job.title }} </h1>
    {% if user.is_authenticated %}
        <h1>{{ job.title }}</h1>
        <p class="date">
        Published {{ job.publish }} by {{ job.author }}
        </p>

        <ul class="list-group">
            <a class="list-group-item list-group-item-action">
                Company: {{ job.company }}</a>
            <a class="list-group-item list-group-item-action">
                Location: {{ job.location }}</a>
            <a class="list-group-item list-group-item-action">
                Speciality: {{ job.speciality }}</a>
            <a class="list-group-item list-group-item-action">
                Description: {{ job.description }}</a>
            <a class="list-group-item list-group-item-action">
                Experience: {{ job.required_experience }}</a>
            <a class="list-group-item list-group-item-action">
                Salary ($): {{ job.salary }}</a>

        </ul>

        {% if user == job.author %}


            <div style="padding: 1em"/>
        <a href="{% url 'joboffers_update' job.publish.year job.publish.month job.publish.day job.slug %}"> Edit this offer</a>



        <a class="btn btn-danger float-right" href=
                "{% url 'joboffers_delete' job.publish.year job.publish.month job.publish.day job.slug %}"> Delete </a>

        {% endif %}

    {% else %}
        <p class="display-4 "> Please, log in to enjoy our product </p>
    {% endif %}

{% endblock content %}
