{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Job offers {% endblock title %}

{% block content %}
    <h1 class="display-3 "> Job offers list </h1>
    {% if user.is_authenticated %}
        {% if jobs_list %}
            {% for job in jobs_list %}

                <p class="display-4">Offers available today:</p>
                <div class="list-group">
                    {% for job in jobs_list %}
                        <a class="list-group-item list-group-item-action" href=
                                "{% url 'joboffers_detail' job.publish.year job.publish.month job.publish.day job.slug %}">
                                 <h1 class="display-5">{{ job.title }}</h1>
                                <p class="font-weight-light">
                                    {{ job.publication_status }} - {{ job.publish }}</p>
                                <p class="font-weight-normal">
                                    {{ job.company }}</p>
                        </a>

                    {% endfor %}
                </div>
            {% endfor %}
            <div style="padding: 1em"/>
            <a href="{% url 'joboffers_create'%}" class="btn btn-outline-primary"> Create
                offer
            </a>
        {% else %}
            <p>You have not posted any job offer!</p>
            <p>Create your first post:</p>
            <form action="{% url "joboffers_create" %}" method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-primary" value="Create Post">
            </form>
        {% endif %}


    {% else %}
        <p class="display-4 "> Please, log in to enjoy our product </p>
    {% endif %}

{% endblock content %}
