{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Job offers {% endblock title %}

{% block content %}
    <h1 class="display-3 "> Job offers list </h1>
    {% if user.is_authenticated %}
        {% if jobs_list %}
            {% for job in jobs_list %}
                <div>
                    <h2><a href="{% url 'joboffers_detail' job.publish.year job.publish.month job.publish.day job.slug %}">
                        {{ job.title }}</a></h2>
                    <p class="status">{{ job.publication_status }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>There are not available job offers out there.</p>

        {% endif %}

    {% else %}
        <p class="display-4 "> Please, log in to enjoy our product </p>
    {% endif %}

{% endblock content %}
