<!-- templates/home.html -->
{% extends '_base.html' %}

{% block title %}WelcomeLite Home{% endblock title %}

{% block content %}

<div class="container">
    <h1 class="display-5">Home</h1>
    <p class="display-3 "> Enjoy HR with Welcome Lite</p>
    {% if user.is_authenticated %}
        <div style="padding: 5em"/>
        {% if jobs_list %}
            <p class="display-4">Offers available today:</p>
            <div class="list-group">



                {% for job in jobs_list %}
                    <a class="list-group-item list-group-item-action" href=
                            "{% url 'joboffers_detail' job.publish.year job.publish.month job.publish.day job.slug %}">
                            {{ job.title }}</a>

                {% endfor %}
            </div>
        {% else %}
            <p>There are not available job offers out there.</p>
        {% endif %}


    {% else %}
        <p class="display-4 ">Start for free </p><a
            class="btn btn-outline-primary" id="sign-up-button"
            href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}

</div>

{% endblock content %}
